
/* Your CSS Code here. */
#body {
  height: 100%; /* Ensure that the body and HTML element take the full viewport height */
  margin: 0;
}
.holder{
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.item-1{
	display: flex;
	text-align: center;
	align-items: center;
	background-color: red;
	height: 100px;
	width: 100px;
}
